* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* Navbar ======================================================================================> */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  color: #4c4d5f;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-links li:hover {
  font-weight: bolder;
}

.company-logo {
  height: 30px;
}

/* Button styles */
.navbar-btn {
  padding: 0.6rem 2rem;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: #00b289;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s;
}

.log-in-btn {
  border: #00b289 solid 1px;
  background-color: white;
}

.log-in-btn:hover {
  background-color: #00b289;
  color: white;
}

.start-free-btn {
  background-color: #00b289;
  color: white;
}

.dropdown::after {
  content: '';
  border: solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-left: 8px;
  margin-bottom: 3px;
}

/* Hero-cards ======================================================================================> */
.hero-section {
  padding-bottom: 10rem;
}
/*  */

.pricing-details {
  padding: 4rem 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pricing-details h1 {
  margin-top: 2rem;
  font-size: xx-large;
}

/* Pricing switch styles */
.switch-content {
  display: flex;
  align-items: center;
}

.yearly-details {
  margin-left: 5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  margin: 0 10px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: #00b289;
}

input:checked + .slider:before {
  transform: translatex(35px);
}

/* Card styles */
.hero-cards {
  display: flex;
  justify-content: center;
  column-gap: 5rem;
}

.card {
  overflow: hidden;
  position: relative;
  width: 25rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  &:hover {
    background-color: rgba(245, 245, 245, 0.3);
  }
}

.card .banner {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #00b289;
  color: #fff;
  padding: 0.5rem 2rem;
  width: 15rem;
  transform: rotate(45deg);
  border-radius: 2px;
  transform-origin: 6rem 7rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.card h3 {
  text-align: left;
  margin-bottom: 1rem;
}

.card .price {
  font-size: 3rem;
  font-weight: bold;
  color: #00b289;
}

.card .price sup {
  font-size: 1rem;
  font-weight: normal;
  color: #000;
  position: relative;
  margin-right: 0.5rem;
  bottom: 1rem;
}

.card hr {
  border: none;
  height: 2px;
  background-color: #00b289;
  margin: 1rem 0;
}

.card ul {
  list-style: none;
  padding: 1.5rem 0;
  margin: 0;
  text-align: left;
}

.card ul li {
  margin-bottom: 0.8rem;

  &::before {
    content: '✓';
    margin-right: 5px;
    color: #00b289;
  }
}

.card .new::after {
  content: 'New';
  background-color: #f8dd6a;
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
  margin-left: 5px;
  color: #fff;
  font-weight: bolder;
}

.card button {
  background-color: #00b289;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 5rem;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3;
  display: block;
  margin: 0 auto;

  &:hover {
    font-weight: bolder;
    background-color: rgba(0, 178, 137, 0.9);
    scale: 1.01;
  }
}

/* Add-ons Section =================================================================================================================> */
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.addOns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4c4d5f;
}

.addOns__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.card__header h2 {
  font-size: 1.2rem;
}

.card__header p {
  font-size: 0.8rem;
}

.addOns__card {
  box-shadow: 1px 1px 22px 3px rgba(127, 127, 127, 0.093);
  border: 1px solid rgba(128, 128, 128, 0.142);
  background: white;
  min-width: 100%;
  margin: 0.5rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  transition: 0.2s ease-in-out all;
}

.addOns__card:hover {
  box-shadow: 1px 1px 22px 3px rgba(127, 127, 127, 0.205);
  scale: 1.02;
}

.card__price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card__price .price {
  font-size: 1.4rem;
  font-weight: bolder;
}

.card__header a {
  text-decoration: none;
  color: #00b289;
  font-weight: bolder;
  font-size: 0.8rem;
}

/* Footer section ======================================================================================> */
.ft-main {
  display: flex;
  justify-content: space-evenly;
  column-gap: 2rem;
  padding-bottom: 4rem;
}

.ft-main h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 3rem;
}

.ft-main h4 {
  color: #00b289;
  margin-bottom: 0.3rem;
}

.ft-main h5 {
  margin-bottom: 1rem;
  color: rgb(0, 0, 0, 0.7);
  font-size: 1rem;
}

.ft-main ul li {
  list-style: none;
  margin-bottom: 0.6rem;
}

.ft-main a {
  text-decoration: none;
  color: gray;
  &:hover {
    font-weight: 900;
    transition: all 0.2s;
    color: rgb(0, 0, 0, 0.9);
  }
}
